		* { font-family:Arial;
			color:white;
		}
		
		body {
			background-color:#595959;
			-webkit-transition:all 600ms ease-in-out;
			transition: all 600ms ease-in-out;

		}	
			
		/* id="head" */ 
		#head {
			position:inline-block;
			font-size:16;
			font-weight:bold;
			color:orange;
			float:right;
			padding-right:.3%;
			-webkit-transition:all 600ms ease-in-out;
			transition: all 600ms ease-in-out;

		}
		
		/* id="bar" */
		#bar {
			background-color:black;
			position:fixed;
			display:inline;
			width:100%;
			top:0px;
			left:0px;
			height:3%;
			padding-top:.1%;
			z-index:1;
			-webkit-transition:all 600ms ease-in-out;
			transition: all 600ms ease-in-out;

		}
		
		/* id="txt" */
		#txt {
			color:black;
			position:absolute;
			width:98%;
			height:91%;
			top:40px;
			background-color:darkkhaki;
			resize:none;
			border:2px solid black;
			font-size:16px;
			-webkit-transition:all 600ms ease-in-out;
			transition: all 600ms ease-in-out;
		}

		.gap {
			margin-top:1%;
			margin-bottom:1%;
		}

		ul li {
			color:black;
			font-size:13px;
			list-style-type:none;
		}		
		
		/* class="button" */
		.button {
			background-color:#595959;
			text-align:auto;
			text-decoration:none;
			display:inline;
			margin-left:.1%;
			margin-right:.1%;			
			padding-left:.5%;
			padding-right:.5%;
			padding-top:.5%;
			padding-bottom:.5%;
			border:none;
			font-size:13px;
			border-radius:4px;
			-webkit-transition:600ms ease-in-out;
			transition:600ms ease-in-out;
		}

		/* Overlay film */
		.film {
  			position: fixed; /* Doesn't move */
  			top: 0;
  			bottom: 0;
  			left: 0;
  			right: 0;
  			background: rgba(0, 0, 0, 0.7); /* Overlay film for the background */
  			-webkit-transition:600ms ease-in-out;
  			transition: 600ms ease-in-out; /* Transition */
  			visibility: hidden;
  			opacity: 0;
			z-index:1;
		}

		/* Activating the film overlay */
		.film:target {
  			visibility: visible;
  			opacity: 1;
			z-index:1;
		}

/* Popup box */
		.popup {
  			margin:5% auto;
  			padding-left: 15px;
			padding-bottom:-50px;
			width: 30%;
  			position: relative;
			border: 13px solid black;
			z-index:1;
			background-color:#898989;
			-webkit-transition:all 600ms ease-in-out;
			transition: all 600ms ease-in-out;

	
		}

		.popup2 {
  			margin:5% auto;
  			padding-left: 15px;
			padding-bottom:-50px;
  			background: #fff;
			width: 30%;
  			position: relative;
			border: 13px solid black;
			z-index:1;
			background-color:#898989;
	
		}

/* X/ Close button for the popup */
		.popup .close {
  			position: absolute;
  			top: -17px;
  			right: -10px;
			-webkit-transition:all 200ms ease-in-out;
			transition:all 200ms ease-in-out;
			font-size: 15px;
  			font-weight: bold;
  			text-decoration: none;
  			color:#595959;
			z-index:1;
		}

		.popup .close:hover {
  			color: orange;
		}


		.popup .content {
  			max-height: 30%;
  			overflow: auto;
			font-size:20px;
			font-family:Arial;
			color:black;
		}

		.poptitle {
			position:absolute;
			color:orange;
			top:-15px;
			left:0px;
			font-size:12px;
			font-weight:bold;
			-webkit-transition:all 600ms ease-in-out;
			transition: all 600ms ease-in-out;

		}

		.content .p {
			color:black;
		}